{% extends "base.html"%}
{% load static %}
{% block myblock %}
<div class="row">
    <div class="col-md-12 px-0">
        <img src="{% static 'images/nature.jpg'%}" height="300">
    </div>
    <div class="col-md-12">
        <h1>THIS IS ABOUT PAGE</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequuntur aperiam ducimus minima nulla recusandae minus eveniet molestias! Odio iure mollitia dignissimos nesciunt ut voluptate! Ducimus quod repellat totam fuga.
        </p> 
    </div>
</div>
{% endblock %}